

*{
	box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body{
	-webkit-font-smoothing: antialiased;
}
.header{

}


.name {
	height: 40vh;
	background: rgb(68,61,40);
	color: #fff;
	font-size: 70px;
	text-align: center;
	padding-top: 80px;
}

.bio-info{
	height: 60vh;
	width: 100vw;
}


.intro-text{
	color: #2a2a2a;
	font-size: 20px;
	padding: 3%;
	text-align: center;
	width: 70%;
	height: 100%;
	background: rgb(236,230,214);
	float: left;
}

.icons{
	width: 30%;
	height: 100%;
	background: rgb(236,230,214);
	float: right;
	padding: 5% 10%;
}

.icons-container{
	padding: 20px;
	border: 5px solid rgb(68,61,40);
	border-radius: 10px;
	text-align: center;
}

.icons-container a img{
	width: 65px;
	margin: 5px;
}


.linkedin-logo, .twitter-logo{
	width: 70px;
}

.about-me{
}

.skills{
	height: 100vh;
	width: 100vw;
}

.skills-headings{
	height: 20%;
}

.skills-heading-1, .skills-heading-2{
	float: left;
	font-size: 40px;
	border: 1px solid gray;
	height: 100%;
	padding-top:50px;
	background: rgb(68,61,40);
	color: rgb(236,230,214);
	text-align: center;
}

.skills-heading-1{
	width: 60vw;
}

.skills-heading-2{
	width: 40vw;
}


.skills-image-container-1, .skills-image-container-2{
	height: 80%;
	float: left;
	border: 1px solid gray;
	padding: 5%;
	background: rgb(236,230,214);
	color: rgb(68,61,40);
	text-align: center;
}

.skills-image-container-1{
	width: 60vw;
}
.skills-image-container-2{
	width: 40vw;
}

.skills-image-1, .skills-image-2{
	height: 80%;
	border: 10px solid rgb(68,61,40);
}

.projects-header{
	height: 20vh;
	text-align: center;
	background: rgb(68,61,40);
	color: rgb(236,230,214);
	font-size: 60px;
	padding-top:30px; 
}

.projects-container{
	height: 80vh;
	color: rgb(68,61,40);
	background: rgb(236,230,214);
}

article{
	width: 33.33vw;
	float: left;
	text-align: center;
	padding: 30px 30px 0 30px;
	border: 5px solid rgb(68,61,40);

}

.project-title{
	height: 15%;
	font-size: 30px;
}

.project-title span{
	font-size: 15px;
}

article img{
	height: 50px;
	margin: 15px;
}


.svp-image{
	background: url("../images/svp-image.JPG");
}

.compify-image{
	background: url("../images/compify-image.JPG");
}

.tictactoe-image{
	background: url("../images/tictactoe-image.JPG");
}


.project-link-container{
	padding-top: 30%;
	color: rgb(236,230,214);
	height: 60%;
	background-size: 100% auto;
	background-size: cover;
	background-repeat: none;
}

.project-link{
	background:rgba(68,61,40,0.8);
	font-size: 30px;
	height: 40px;
	padding-top: 2px;
}

.project-link:hover{
	background:rgba(68,61,40,1);
}

a{
	text-decoration: none;
	color: rgb(236,230,214);
}



.contact-header{
	height: 20vh;
	width: 100cw;
	background:rgb(68,61,40);
	color: rgb(236,230,214);
	font-size: 60px;
	padding-top: 30px;
	text-align: center;
}

.contact-options-container{
	height: 80vh;
	width: 100vw;
	color:rgb(68,61,40);
	background: rgb(236,230,214);
	text-align: center;
	padding-top: 5%;
}

input{
	font-size: 20px;
	margin-bottom: 20px;
}

textarea{
	height: 200px;
	width: 600px;
	font-size: 20px;
	margin-bottom: 20px;
}

button{
	font-size: 20px;
	height: 30px;
}
